﻿<section ng-if="abas">

  <div>
    <div class="container">
      <div class="topoHome text-center">
        <img src="content/images/logo.png">
      </div>
    </div>
  </div>

  <div class="boxTopoCat">
    <div class="container">

      <div class="row">

        <div class="col-xs-4">
          <div class="topoCat" ng-class="{'topCatSelect': catSelect1}"
          ng-click="selectCat(1)">
            <span class="glyphicon glyphicon-leaf"></span> 
            Culturas
          </div>
        </div>
        <div class="col-xs-4">
          <div class="topoCat" 
              ng-class="{'topCatSelect': catSelect2}"
              ng-click="selectCat(2)">
            <span class="glyphicon glyphicon-search"></span> 
            Produtos
          </div>
        </div>
        <div class="col-xs-4">
          <div class="topoCat" ng-class="{'topCatSelect': catSelect3}"
          ng-click="selectCat(3)">
            <span class="glyphicon glyphicon-user"></span> 
            Usuário
          </div>
        </div>


      </div>

    </div>
  </div>

  <!-- culturas -->
  <div ng-if="boxCat1">

    <div class="container">

      <div class="row boxInputSearchCultura marginTop">

        <div class="col-xs-12">
          <input type="text" class="form-control" ng-model="searchCultura" placeholder="Pesquisar Culturas">
        </div>

      </div>

      <div class="row marginTop">

        <div class="col-xs-4 produtoRpt" 
        ng-repeat="item in culturas | filter : searchCultura"
        ng-click="selectCultura(item)">
          <div class="imagemCultura" style="background: url({{item.imagem}})
           50% 50% no-repeat;background-size:cover !important;"></div>
           <h4 class="text-center nomeCultura">
            {{item.nome}}
           </h4>
        </div>

      </div>

    </div>

  </div>

  <!-- produtos individual -->
  <div ng-if="boxCat2">

    <div class="container">

      <div class="row boxInputSearchCultura marginTop">

        <div class="col-xs-12">
          <input type="text" class="form-control" ng-model="searchProduto" placeholder="Pesquisar Produtos">
        </div>

      </div>

      <div class="produtosList">
        <div class="produto" 
            ng-repeat="item in produtosIndividual | filter : searchProduto"
            ng-click="selectProdutoIndividual(item)">
          <div class="row">
            <div class="col-xs-10">
              <span class="nomeProduto">
                {{item.nome}}
              </span>
            </div>
            <div class="col-xs-2 text-right">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div ng-if="boxCat3">

    <div class="container" ng-if="logado">
      <div class="row marginTop">
        <div class="col-xs-6">
          <span class="btn btn-warning" ng-click="close()">
            <span class="glyphicon glyphicon-remove"></span> Fechar
          </span>
        </div>
        <div class="col-xs-6 text-right">
          <span class="btn btn-danger" ng-click="logout()">
            <span class="glyphicon glyphicon-remove"></span> Sair
          </span>
        </div>
      </div>

      <div class="marginTop">

      <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
            </div>
            <div>
              <span class="btn btn-default btn-file">
                <span class="fileinput-new">Selecione uma imagem</span>
                <span class="fileinput-exists">Alterar</span>
                <input type="file" name="imagem" fileread="emailContato.imagem"></span>
                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 form-group">
          <label>Mensagem</label>
          <textarea class="form-control" ng-model="emailContato.mensagem"></textarea>
        </div>
        <div class="col-xs-12 form-group text-right">
          <span class="btn btn-warning" ng-click="sendEmailContato()">ENVIAR</span>
        </div>
      </div>
      </div>

    </div>

    <div class="container margintop text-center" ng-if="!logado">
      <div class="btn btn-primary" ng-click="goToLogin()">
        <b>Fazer login ou cadastrar-se</b>
      </div>
    </div>

  </div>

</section>


<!-- info do produto -->
<section ng-if="boxInfoProduct">

  <div class="header">
    <div class="container">
      <div ng-click="showBoxHome()">
        <span class="glyphicon glyphicon-chevron-left"></span> Voltar
      </div>
    </div>
  </div>

  <div class="imagemCulturaDetails"
  style="background: url({{cultura.imagem}})
  50% 50% no-repeat;background-size:cover;">
  </div>

  <div class="text-center textoProdutosIndicados">
    PRODUTOS INDICADOS
  </div>

  <div class="marginTop" ng-if="boxInfoTratamento">
    <span class="colorGreen">
      {{produto.nomeTratamento}}
    </span>
    <div class="">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>OBJETIVO</th>
            <th>PRODUTO</th>
            <th>DOSAGEM</th>  
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in tratamentos">
            <td>{{item.objetivo}}</td>
            <td>{{item.produto}}</td>
            <td>
              <div>
                {{item.dosagem}}
              </div>
              <hr />
              <div class="text-center">
                <span class="btn btn-warning btn-xs" ng-click="selectProdutoEtapa(item, produto)">
                  EF
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="marginTop" ng-if="boxInfoFolhagem">
    <span class="colorGreen">
      {{produto.tipoFolhagem}}
    </span>
    <div class="">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>OBJETIVO</th>
            <th>PRODUTO</th>
            <th>DOSAGEM</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in folhagens">
            <td>{{item.objetivo}}</td>
            <td>{{item.produto}}</td>
            <td>
              <div>
                {{item.dosagem}}
              </div>
              <hr />
              <div class="text-center">
                <span class="btn btn-warning btn-xs" ng-click="selectProdutoEtapa(item, produto)">
                  EF
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="text-center" ng-if="cultura.arquivo != null">
    <span class="btn btn-primary" ng-click="download(cultura.arquivo)">
      Download da Cultura
    </span>
  </div>


  <div class="marginTop">
    <span class="colorGreen">
      Descrição
    </span>
    <p ng-bind-html="produto.texto"></p>
  </div>
</section>

<!-- info do produto individual -->
<section ng-if="boxInfoProductIndividual">

  <div class="header">
    <div class="container">
      <div ng-click="showBoxProdutos()">
        <span class="glyphicon glyphicon-chevron-left"></span> {{produtoIndividual[0].nome}}
      </div>
    </div>
  </div>

  <div class="row marginTop">
    <div class="imagemCulturaDetails"
    style="background: url({{produtoIndividual[0].imagem}})
    50% 50% no-repeat;background-size:cover;">
    </div>
  </div>

  <div class="container produtosIndividual">
    <div class="margintop produtoIndividual">
      <p ng-bind-html="produtoIndividual[0].textoInicial"></p>
    </div>
    <div class="margintop produtoIndividual">
      <b>CARACTERÍSTICAS</b>
      <p ng-bind-html="produtoIndividual[0].caracteristicas"></p>
    </div>
    <div class="margintop produtoIndividual">
      <b>AÇÕES SOBRE AS CULTURAS</b>
      <p ng-bind-html="produtoIndividual[0].acoes"></p>
    </div>
    <div class="margintop produtoIndividual">
      <b>GARANTIAS</b>
      <p ng-bind-html="produtoIndividual[0].garantias"></p>
    </div>
    <div class="margintop produtoIndividual">
      <b>EMBALAGENS</b>
      <p ng-bind-html="produtoIndividual[0].embalagens"></p>
    </div>
  </div>
  <div class="container marginTop" ng-if="!boxEmailPedido">
    <div class="row pedidoEmail"
      ng-click="showBoxEmailPedido()">
      <div class="col-xs-10">
        <span>FAÇA SEU PEDIDO DO PRODUTO</span>
      </div>
      <div class="col-xs-2">
        <span class="glyphicon glyphicon-envelope"></span>
      </div>
    </div>
  </div>
  <div class="boxEmailPedido" ng-if="boxEmailPedido">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 form-group">
          <label>Mensagem</label>
          <textarea class="form-control" ng-model="email.mensagem"></textarea>
        </div>
        <div class="col-xs-12 form-group text-right">
          <span class="btn btn-warning" ng-click="sendEmail()">ENVIAR</span>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- info do produto boxInfoEtapas -->
<section ng-if="boxInfoEtapas">

  <div class="header">
    <div class="container">
      <div ng-click="showBoxInfoProduto()">
        <span class="glyphicon glyphicon-chevron-left"></span> Voltar
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 colorGreen text-center marginTop">
        <b>ETAPAS FENOLÓGICAS</b>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 marginTop">
        <H3>{{etapasFenologicas.nome}}</H3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 marginTop">
        <p ng-bind-html="etapasFenologicas.texto"></p>
      </div>
    </div>
  </div>

</section>