<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="content/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="content/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- <link href="lib/ionic/css/ionic.css" rel="stylesheet"> -->
    <link href="content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="content/css/summernote/summernote.css" rel="stylesheet">
    <link href="content/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->


    <!-- tools jquery -->
    <script src="content/js/jquery.js"></script>
    <script src="content/owl-carousel/owl.carousel.js"></script>
    <script src="content/js/summernote.min.js"></script>
    <script src="content/js/jasny-bootstrap.min.js"></script>

    <script src="scripts/angular/angular-ui-router.js"></script>
    <script src="scripts/angular/angular-validator.js"></script>
    <script src="scripts/angular/angular-local-storage.js"></script>

    <!-- Angular App Script -->
    <script src="app/app.js"></script>
    <script src="app/app.core.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.config.routes.js"></script>
    <script src="app/app.run.js"></script>
    <script src="app/app.settings.js"></script>

    <!-- tools angular -->
    <script src="content/js/cidadesEstados.js"></script>

    <!-- controllers -->
    <script src="app/modules/home/home.controller.js"></script>
    <script src="app/modules/login/login.controller.js"></script>

    <!-- services -->
    <script src="app/services/login.service.js"></script>
    <script src="app/services/cultura.service.js"></script>
    <script src="app/services/produto.service.js"></script>
    <script src="app/services/produtoIndividual.service.js"></script>
    <script src="app/services/usuario.service.js"></script>

    <!-- directives -->
    <script type="text/javascript" src="app/directives/owl-carousel.directive.js"></script>
    <script type="text/javascript" src="app/directives/sis-owl-carousel-item.directive.js"></script>
    <script type="text/javascript" src="app/directives/fileUpload.js"></script>

  </head>
  <body ng-app="app" ng-class="{'bodyBkg': bkgPicture, 'bodyWhite': bodyWhite, 'bkgPicture2': bkgPicture2}">
    <div class="loader" ng-if="loader"><img src="content/images/loader.gif"></div>
    <div ui-view=""></div>
  </body>
</html>
