@media screen and (min-width: 768px) and (max-height: 1024px) {

	.bodyBkg {
	    background: url(../content/images/bkg1.jpg) 50% 0 no-repeat;
	    background-size: cover !important;
	}

	.bkgPicture2{
	    background: url(../content/images/bkg2.jpg) 50% 0 no-repeat;
	    background-size: cover !important;
	}

	.imagemCultura {
	    height: 220px;
	    border-radius: 50%;
	}

	.produtoRpt {
	    height: 300px;
	}

}