/* Empty. Add your own CSS if you like */

*{
	outline: none !important;
}

body {
    /*top: 20px;*/
    position: relative;
}

input.ng-invalid-required {
    border-left: 3px solid red;
}

input.ng-valid-required {
    border-left: 3px solid #3c763d;
}

.header {
    background: #3c763d;
    padding: 10px 0px;
    color: #FFF;
}

.bodyBkg {
    background: url(../content/images/bkg1.jpg) 50% 0 no-repeat;
}

.bkgPicture2{
    background: url(../content/images/bkg2.jpg) 50% 0 no-repeat;
}

.bodyWhite{
    background: #fff;
}

.titleLogin span {
    color: red;
    font-size: 23px;
    text-shadow: 2px 0 0 #fff, 
    -2px 0 0 #fff, 0 2px 0 #fff,
    0 -2px 0 #fff, 1px 1px #fff, 
    -1px -1px 0 #fff, 1px -1px 0 #fff, 
    -1px 1px 0 #fff;
}

section.logo {
    text-align: center;
    padding: 40px 0 0 0;
}

section.logo img {
    width: 70%;
}

section.login input {
    border-radius: 0px;
    box-shadow: none;
    border: 5px solid #ccc;
}

section.login label {
    color: white;
}

.marginTop{
    margin-top: 10px;
}

.boxCadastro{
    background: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}

.marginBottom{
    margin-bottom: 10px;
} 

/*home*/

.topoHome{
    padding: 10px 0;
    border-bottom: 3px solid #ccc;
}

.topoHome img{
    width: 150px;
}

.topoCat {
    padding: 20px 0;
    border-bottom: 5px solid #98c6a8;
}

.boxTopoCat .col-xs-4 {
    padding: 0;
    text-align: center;
    color: #ccc;
}

.topCatSelect {
    color: #000;
    border-bottom: 5px solid green;
}

.boxInputSearchCultura input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;
}

.imagemCultura {
    height: 80px;
    border-radius: 50%;
}

.nomeCultura{
    color: #555;
}

.textoProdutosIndicados {
    font-size: 20px;
    color: #057b31;
    margin-bottom: 30px;
}

.imagemCulturaDetails {
    height: 180px;
    margin-bottom: 20px;
}

.produto {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color: #555;
    margin-bottom: 20px;
}

.enviarEmail span {
    font-size: 40px;
    color: #3c763d;
}

.produtoRpt {
    height: 170px;
}

.produtosList {
    margin: 40px 0 0 0;
}

span.colorGreen {
    /* font-size: 20px; */
    color: #057b31;
    /* margin-bottom: 30px; */
}

.pedidoEmail .col-xs-10 span {
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.pedidoEmail span {
    color: #3c763d;
    font-size: 20px;
}

.pedidoEmail {
    border: 1px solid #ccc;
    padding: 20px 0;
}

tbody tr td{
    word-break: break-all;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.produtoIndividual{
    word-break: break-all;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.colorGreen {
    color: #3c763d;
}

.loader {
    position: absolute;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.9);
    height: 100%;
    padding-top: 50%;
    width: 100%;
    text-align: center;
}

textarea {
    height: 150px !important;
}

html,
body {
    padding-top: 10px;
    overflow-y: scroll;
    position: relative;
    height: 100%;
}