﻿<section>
  <section class="logo">
    <img src="content/images/logo.png">
  </section>
  <section class="login" ng-if="boxLogin">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12 form-group">
          <label>E-mail</label>
          <input type="text" class="form-control" ng-model="login.email">
        </div>
        <div class="col-xs-12 col-md-12 form-group">
          <label>Senha</label>
          <input type="password" class="form-control" ng-model="login.senha">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12 form-group">
          <button class="btn btn-success btn-block" ng-click="login()">
            Entrar
          </button>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
          <button class="btn btn-primary btn-block"
                  ng-click="showBoxCadastro()">
            Cadastre-se
          </button>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
          <button class="btn btn-danger btn-block"
                  ng-click="goBoxHome()">
            Voltar
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
<section>
  <section class="boxCadastro" ng-if="boxCadastro">
    <div class="container">
      <form novalidate angular-validator angular-validator-submit='save()' name='frmLogin'>
        <div class="row">
          <div class="col-xs-12 col-md-12 form-group">
            <label>Nome</label>
            <input type="text" class="form-control nomeinput" ng-model="model.nome" autofocus>
          </div>
          <div class="col-xs-12 col-md-12 form-group">
            <label>E-mail</label>
            <input type="text" class="form-control" ng-model="model.email" ng-required="true" required-message="'Campo Obrigatório!'">
          </div>
          <div class="col-xs-12 col-md-12 form-group">
            <label>Profissão</label>
            <select class="form-control" ng-model="model.profissao">
              <option value="">Selecione sua profissão</option>
              <option value="Agronomo / Técnico">Agronomo / Técnico</option>
              <option value="Consultor / Pesquisador">Consultor / Pesquisador</option>
              <option value="Produtos">Produtos</option>
              <option value="Estudante">Estudante</option>
              <option value="Vendedor">Vendedor</option>
              <option value="Produto Rural">Produto Rural</option>
              <option value="Empresário">Empresário</option>
              <option value="Diretor / Gerente">Diretor / Gerente</option>
            </select>
          </div>
          <div class="col-xs-12 col-md-12 form-group">
            <label>Celular</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-xs-12 col-md-12 form-group">
            <label>Pais</label>
            <input type="text" class="form-control" ng-model="model.pais">
          </div>
          <div class="col-xs-12 col-md-12 form-group">
            <label>Estado</label>
            <select ng-model="model.estado" 
                    class="form-control"
                    ng-model="model.estado" 
                    ng-options="estado.sigla as estado.nome for estado in estados" 
                    ng-change="buscarCidadesPorSigla()">
                 <option value="">Escolha um Estado</option>
             </select>
          </div>
          <div class="col-xs-12 col-md-12 form-group">
            <label>Cidade</label>
             <select ng-model="model.cidade" ng-options="cidade for cidade in cidades" class="form-control">
                 <option value="">Escolha uma Cidade</option>
             </select>
          </div>
          <div class="col-xs-12 col-md-12 form-group">
            <label>Cep</label>
            <input type="text" class="form-control" ng-model="model.cep">
          </div>
          <div class="col-xs-12 col-md-12 form-group">
            <label>Senha</label>
            <input type="text" class="form-control" ng-model="model.senha" ng-required="true" required-message="'Campo Obrigatório!'">
          </div>
          <div class="col-xs-12 col-md-12 form-group">
            <label>
              <input type="checkbox" ng-required="true" required-message="'Campo Obrigatório!'">
              Eu li e aceito os termos de uso
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 form-group">
            <button class="btn btn-danger btn-block"
            ng-click="showBoxLogin()">
              Voltar
            </button>
          </div>
          <div class="col-xs-6 form-group">
            <button class="btn btn-success btn-block" type="submit">
              Salvar
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</section>
